body{
    font-family: "Times New Roman", "Helvetica", sans-serif;
}

h1{
    font-size: 100px;
    color: white;
    background-color: rgb(209, 14, 14);
    text-align: center;
}

h2{
    color: black;
    text-align: center;
}

h3{
    color:  rgb(209, 14, 14);
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left:auto;
}

img{
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid rgb(209, 14, 14);
}
ul{
    text-align:center;
    font-size: 35px;
}

li{
    list-style:none;
    padding: 4px;
    
}

.dec{
    
    margin: 2px 1000px;
    border: 5px solid rgb(209, 14, 14);
    padding-right: 1px;
    padding-left: 1px;
}





